
<h3>Signup Here!</h3><br>

<form action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username"><br>

    <label for="username">Email:</label>
    <input type="text" name="email"><br>

    <label for="username">Password:</label>
    <input type="text" name="password"><br>

    <input type="submit" value="Signup">
</form>